.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
research_plan.md
research_plan_v2.md

.wandb_key
wandb/
out/
__pycache__/
*.pyc
.wandb_key
data/shakespeare/
data/openwebtext/
